[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/fortran_line_length"]
	path = bundle/fortran_line_length
	url = https://github.com/caglartoklu/fortran_line_length.vim
[submodule "bundle/vim-zoom"]
	path = bundle/vim-zoom
	url = https://github.com/tbhartman/zoom.vim.git
