[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/fortran_line_length"]
	path = bundle/fortran_line_length
	url = https://github.com/caglartoklu/fortran_line_length.vim
[submodule "bundle/vim-zoom"]
	path = bundle/vim-zoom
	url = https://github.com/tbhartman/zoom.vim.git
[submodule "bundle/reload"]
	path = bundle/reload
	url = https://github.com/vim-scripts/reload.vim.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/vim-scripts/vim-misc.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen
[submodule "bundle/ttoc_vim"]
	path = bundle/ttoc_vim
	url = https://github.com/tomtom/ttoc_vim
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
